body {
  margin: 0;
  height: 200vh; /* To enable scrolling */
  background: black;
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    black, /* Black base */
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 2px 2px, 3px 3px, 4px 4px;
  background-position: 
    0 0, 50px 50px, 100px 100px;
  animation: move-stars 50s linear infinite;
}

@keyframes move-stars {
  to {
    background-position: 
      -5000px 0, -7000px 0, -9000px 0;
  }
}